container_commands:
  01_enablepg:
    command: |
      yum remove -y postgresql postgresql-server postgresql-devel postgresql-libs postgresql-contrib || true

      # Enable PostgreSQL 12 repository
      amazon-linux-extras enable postgresql12

      # Clean and Install PostgreSQL 12 Client Libraries
      yum clean metadata
      yum install -y postgresql
      
      # Install PostgreSQL 12 devel Client Libraries
      yum install -y postgresql-devel
