files:
  "/home/ec2-user/setup_postgresql.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      set -e
      
      echo "Starting PostgreSQL upgrade and dependency installation..."

      # Remove old PostgreSQL packages
      sudo yum remove -y postgresql postgresql-server postgresql-devel postgresql-libs postgresql-contrib || true

      # Enable PostgreSQL 12 repository
      sudo amazon-linux-extras enable postgresql12

      # Clean and Install PostgreSQL 12 Client Libraries
      yum clean metadata
      sudo yum install -y postgresql
      
      # Install PostgreSQL 12 devel Client Libraries
      sudo yum install -y postgresql-devel

      # Verify Installation
      echo "Verifying PostgreSQL version..."
      psql --version
      echo "Verifying pg_config version..."
      pg_config --version

      # Uninstallling and Installing psycopg2
      pip uninstall psycopg2
      pip install psycopg2

      # Restarting Services


      echo "PostgreSQL upgrade and setup complete."

container_commands:
  01_run_postgresql_setup:
    command: "bash /home/ec2-user/setup_postgresql.sh"
    leader_only: true
